{{ define "body" }}
<script>
jQuery(document).ready(function($) {
    var animation = false;
    var availableCommands = ["all", "whois", "social", "projects",
                    {{ if .Site.Params.certifications }} "certifications", {{ end }}
                    {{ if .Site.Params.startxLocation }} "startx", {{ end }}
                    {{ if .Site.Params.exitLocation }} "exit", {{ end }}
                    {{ if .Site.Params.misc }}"{{ .Site.Params.misc.commandName | default "scripts" }}", {{ end }}
                    {{ if not .Site.Params.hideSource }} "source" {{ end }}
                    ];

    $('body').terminal(function(command, term) {
        switch(command) {
            case 'all':
                this.exec('whois');
                this.exec('social');
                this.exec('projects');
                {{ if .Site.Params.misc }}this.exec('{{ .Site.Params.misc.commandName | default "scripts" }}');{{ end }}
                break;
            case 'whois':
                term.echo("");
                {{ with .Site.Params.whois }}
                term.echo("[[b;grey;]Name:]\t\t\t{{ .name }}");
                term.echo("[[b;grey;]Profession:]\t\t{{ .profession }}");
                term.echo("[[b;grey;]Location:]\t\t{{ .location }}");
                term.echo("[[b;grey;]Email:]\t\t\t{{ .email }}");
                term.echo("[[b;grey;]Description:]\t\t{{ .description }}");
                {{ end }}
                term.echo("");
                break;
            case 'social':
                term.echo("");
                {{ range .Site.Params.social }}
                term.echo(" [[b;cyan;]{{ .name }}]: {{ .url | safeJS }}");
                {{ end }}
                term.echo("");
                break;
            case 'projects':
                term.echo("");
                {{ range .Site.Params.projects }}
                term.echo(" [[b;{{ .color | default "LIME" }};]{{ .title }}]");
                {{ if .link }}term.echo("  Link: {{ .link | safeJS }}");{{ end }}
                {{ if .description }}term.echo("  {{ .description | safeJS }}");{{ end }}
                {{ end }}
                term.echo("");
                break;
            case '{{ .Site.Params.misc.commandName | default "scripts" }}':
                term.echo("");
                term.echo("[[b;{{ .Site.Params.misc.titleColor | default "cyan" }};]{{ .Site.Params.misc.title }}]");
                term.echo(`{{ .Site.Params.misc.content | safeJS }}`);
                term.echo("");
                break;
            case 'startx':
                term.echo("initiating remote uplink...");
                setTimeout(function(){ window.location = "{{ .Site.Params.startxLocation | safeJS }}"; }, 2000);
                break;
            case 'exit':
                term.echo("terminating session...");
                setTimeout(function(){ window.location = "{{ .Site.Params.exitLocation | relURL }}"; }, 2000);
                break;
            case 'source':
                window.location = "https://github.com/4ndr0666/4ndr0site";
                break;
            case 'help':
                term.echo("\nAvailable commands: " + availableCommands.join(", ") + "\n");
                break;
            default:
                term.echo("\nUnknown command: " + command + ". Type 'help' for assistance.\n");
        }
    }, {
        prompt: '[[;{{ .Site.Params.promptColor | default "cyan" }};]{{ .Site.Params.prompt }}][[;{{ .Site.Params.promptSimbolsColor | default "LIME" }};]{{ .Site.Params.promptSimbols | default " >" }}] ',
        greetings: `{{ .Site.Params.greeting | safeJS }}`,
        autocompleteMenu: true,
        completion: availableCommands
    });
});
</script>
{{ end }}
